.my-address /deep/ .van-nav-bar .van-icon {
  color: rgba(0, 0, 255, 0.5);
}
.my-address /deep/ .van-nav-bar__text {
  color: rgba(0, 0, 255, 0.5);
}
.my-address /deep/ .van-tag--danger {
  background-color: rgba(0, 0, 255, 0.3);
}
.my-address /deep/ .van-address-item .van-radio__icon--checked .van-icon {
  background-color: rgba(0, 0, 255, 0.3);
  border-color: rgba(0, 0, 255, 0.5);
}
.my-address /deep/ .van-address-list {
  padding: 0;
}
.my-address /deep/ .van-address-item {
  border-bottom: 1px solid #e8e8e8;
}
.my-address /deep/ .van-address-item:last-child {
  border-bottom: none;
}
.my-address /deep/ .van-button--danger {
  background-color: rgba(0, 0, 255, 0.3);
  border-color: rgba(0, 0, 255, 0.5);
}
